<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo QA Test Suite" parallel="true">
    <test verbose="2" preserve-order="true" name="/Users/cristiansandu/IdeaProjects/Test/Marte-23-03-23">
        <classes>
            <class name="org.skillbrain.AlertTutorial"/>
            <class name="org.skillbrain.DemoQaTutorial">
            </class>
        </classes>
    </test>
</suite>